@model ContactManagerApp.Models.Contact

@{
    ViewData["Title"] = "Contact Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/dist/jquery.min.js" defer></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <header class="header-bg text-center p-3">
        <h1 class="header-text">@ViewBag.Title</h1>
    </header>
    <div class="container mt-4">
        <h1><strong>Contact Details</strong></h1>
        <table class="table table-bordered">
            <tr>
                <td><strong>Name:</strong></td>
                <td>@Model.Firstname @Model.Lastname</td>
            </tr>
            <tr>
                <td><strong>Phone:</strong></td>
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <td><strong>Email:</strong></td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td><strong>Category:</strong></td>
                <td>@(Model.Category?.Name ?? "No Category")</td>
            </tr>
            <tr>
                <td><strong>Date added:</strong></td>
                <td>@Model.DateAdded.ToString("MM/dd/yyyy 'at' h:mm tt")</td>
            </tr>
        </table>

        <div class="mt-4">
            <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.ContactId" class="btn btn-dark-grey">Edit</a>
            <a asp-controller="Home" asp-action="Delete" asp-route-id="@Model.ContactId" class="btn btn-dark-grey">Delete</a>
            <a asp-controller="Home" asp-action="Index" class="btn btn-dark-grey">Home</a>
        </div>

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
    </div>
</body>
</html>
